body {background-color:#fff;}
html, body {height:100%;}
html body{
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
html>body{font:12px Arial, Helvetica, sans-serif;color:#333333}
.linkbtn1 {
	background: #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
	background: -webkit-linear-gradient(top, #ffffff, #cccccc);
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
	background: -ms-linear-gradient(top, #ffffff, #cccccc);
	background: -o-linear-gradient(top, #ffffff, #cccccc);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #4a4a4a;
	font-size: 12px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	height: 30px;
	width: 100px;
	line-height: 24px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
   }
.linkbtn1:hover {
	background: #cccccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#c1f0e9), to(#6ac2ff));
	background: -webkit-linear-gradient(top, #c1f0e9, #6ac2ff);
	background: -moz-linear-gradient(top, #c1f0e9, #6ac2ff);
	background: -ms-linear-gradient(top, #c1f0e9, #6ac2ff);
	background: -o-linear-gradient(top, #c1f0e9, #6ac2ff);
	color: #575757;
   }
.linkbtn1:active {
	background: #1d9cf0;
	color: #FFF;
   }
#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color:#CCC;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#TB_window {
	top: 0px;
	left: 0px;
	position: fixed;
	_position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border:5px solid #666;
}
#TB_caption{
	height:25px;
	padding:10px 30px 10px 25px;
}
#TB_closeWindow{
	height:25px;
	padding:10px 25px 10px 0;
	float:right;
}
#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}
#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
}
#TB_loadContent{
	margin-left: -125px;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}.setup_body {
	background-color: #f0f1f9;
	width: 500px;
	height: 400px;
}
.setup_li {
	width: 100%;
	margin-bottom: 10px;
}
#select1 {
	width: 450px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 20px;
	border: 1px solid #999;
}
.select2 {
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 20px;
	border: 1px solid #999;
}
.search3 {
    width: 470px;
	border: 1px solid #bbbbbb;
	background-image: url(../../images/zoom.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 20px;
	height: 20px;
    line-height: 20px;
}
.search {
    width: 180px;
	border: 1px solid #bbbbbb;
	background-image: url(../../images/zoom.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 20px;
	height: 20px;
    line-height: 20px;
}
